* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  position: relative;
}
/*********************************/
/**responsive css end**/
/***responsive nav start****/
.point-down {
  transform: rotate(90deg);
}
.res_nav {
  padding: 10px 0px;
  width: 100%;
  background-color: white;
  display: none;
}
.res-nav-wrapper {
  width: 95%;
  margin: auto;
}
.res-nav-wrapper {
  display: flex;
  align-items: center;
}
.res_nav .burger-menu {
  width: 10%;
}
.burger-menu a i {
  font-size: 20px;
}
.res_nav .logo-sec {
  width: 90%;
  text-align: center;
}
.res_nav .logo {
  width: 8%;
  margin: auto;
}
/***responsive nav end****/
/* responsive side menu start */
.res-side-bar {
  background-color: #edeeee;
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -80%;
  z-index: 99999;
  transition: 1s ease-in-out;
}
.active {
  left: 0;
}
.res-side-bar .logo .close-sub-menu {
  width: 10%;
  text-align: center;
  visibility: hidden;
}
.res-side-bar .logo a:first-child {
  width: 80%;
  text-align: center;
}
.res-side-bar .logo a:last-child {
  width: 10%;
  text-align: center;
}
.res-side-bar .logo i {
  font-size: 25px;
  color: #344854;
}
.res-side-bar .logo {
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.193);
  box-shadow: 0 1px 1px 0px #00000017;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.res-side-bar .items {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.193);
  box-shadow: 0 1px -1px 0px #00000017;
}
.res-side-bar .items a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.res-side-bar .items a h5 {
  width: 95%;
  font-size: 30px;
  color: #344854;
  font-weight: 400;
}
.res-side-bar .items a i {
  width: 2%;
  font-size: 20px;
  color: #344854;
}
/****responsive sub menu start***/
.all-items {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.res-sub-menu,
.res-sub-menu1,
.res-sub-menu2,
.res-sub-menu3,
.res-sub-menu4 {
  padding: 20px;
  background-color: #edeeee;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999999999;
  transition: 1s ease-in-out;
}
.sub-menu1-active {
  right: 0px;
}
.res-sub-menu h2 {
  font-size: 30px;
  margin: 20px 0px;
}
.sub-menu1-items li a {
  color: #67788a;
  font-weight: 600;
  font-size: 20px;
}
.sub-menu1-item-head {
  display: block;
  padding: 15px 10px;
  position: relative;
  border-top: 1px solid rgba(128, 128, 128, 0.484);
  border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}
.sub-menu1-item-head i {
  position: absolute;
  right: 0;
}
.sub-menu-item-sub-items li {
  padding: 14px 10px;
}
.sub-menu-item-sub-items li:hover {
  background-color: #005eb561;
}
.sub-menu-item-sub-items li a {
  color: #344854;
  font-weight: 300;
  font-size: 28px;
}
.sub-menu-item-sub-items {
  display: none;
  transition: 1s all ease-in-out;
}
/****responsive sub menu end***/
/* responsive side menu end */
/**responsive css end**/
nav {
  width: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 10%;
}
.menu {
  width: 80%;
}

.menu-items {
  display: flex;
  column-gap: 40px;
}
.menu-items li a {
  width: 20%;
  font-size: 16px;
  font-weight: 400;
  color: black;
  vertical-align: middle;
  padding: 4px;
}
.menu-items li:last-child {
  margin-left: auto;
}
.menu-items li a i {
  color: black;
  vertical-align: middle;
  padding: 4px;
}

.rotate {
  transform: rotate(-180deg);
  transition: 0.3s ease-in-out;
}
/**************shop*************/
#banner {
  position: relative;
}
.box {
  width: 28%;
  transition: ease-in-out;
}

.box ul li {
  margin: 30px 0px;
}
.box ul li h3 {
  color: #67788a;
  font-size: 16px;
  font-weight: 700;
}
.box ul li a {
  padding: 5px;
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.box ul li a:hover {
  text-decoration: underline;
}
/*******************************/
nav {
  position: relative;
  background-color: #f6f8fa;
}
.shop {
  width: 100%;
  padding: 410px 0;
  height: fit-content;
  padding-top: 60px;
  position: absolute;
  top: 65px;
  left: 0px;
  display: none;
  background-color: #f6f8fa;
}
.shop-wrapper {
  width: 100%;
  height: fit-content;
  position: relative;
}
.box-wrapper {
  width: 70%;
  padding-top: 60px;
  position: absolute;
  top: -60px;
  left: 357px;
  z-index: 2;
  display: flex;
}
.animated {
  transform: translateY(-40px);
  animation-name: animationx;
  animation-duration: 2s;
  animation-delay: 0.05s;
  animation-timing-function: ease-in;
}
@keyframes animationx {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.551);
  margin-bottom: 30px;
}
/******************banner style start***********************/
#banner {
  width: 100%;
  z-index: -11;
  padding: 50px 0px;
}
.banner-img {
  width: 60%;
  margin: auto;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
header {
  text-align: center;
}
header h1 {
  text-align: center;
  width: 35%;
  margin: 0px auto 70px;
  font-size: 40px;
  font-weight: 700;
}

/******************banner style end***********************/

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 2s ease-in-out;
}

/***********media query start***************/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .lg-nav {
    display: none;
  }
  .res_nav {
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .lg-nav {
    display: none;
  }
  .res_nav {
    display: block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .lg-nav {
    display: none;
  }
  .res_nav {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .lg-nav {
    display: block;
  }
  .res_nav {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .lg-nav {
    display: block;
  }
  .res_nav {
    display: none;
  }
}

/***********media query end***************/
.hide {
  display: none;
  transition: 1s ease-in-out;
}
.show {
  display: block;
  transition: 1s ease-in-out;
}
